<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" />

    <title>Document</title>
</head>

<body class="bg-gray-900">
    

    <div class="right2 w-full flex flex-col items-center h-fit ">
      
        <div class="box2  py-7 flex justify-center w-full items-center">
            <div class="box w-[40vw] flex justify-start space-x-6">
                <img class="w-9 h-9" src="https://i.etsystatic.com/20023820/r/il/1b8ff5/4136743784/il_570xN.4136743784_t2fc.jpg" alt="" />
                <div class="flex space-y-4 flex-col">
                    <div id="question1" class="text-white">Your Response</div>
                    <div id="solution" class="text-white"><p>{{ response }}</p></div>
                </div>
            </div>
        </div>

     

        
        <form action="/" method="POST" class=" buttonsvg pl-16 w-[50vw] flex ">
            <input
              class="w-full p-4  rounded-md"
              placeholder="Send a Message"
              type="text"
              id="questionInput"
              name="sentence"
            />

            <button id= "sendButton" class="relative -left-20 pl-10">
              <svg
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke-linecap="round" 
                stroke-linejoin="round"
                class="h-4 w-4 mr-1"
                height="1em"
                width="1em"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line x1="22" y1="2" x2="11" y2="13"></line>
                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
              </svg>
            </button>
          </form>
          <div class="p-4"></div>
    </div>

</body>

</html>